/**
 * Colors
 */

$COLOR_FOREGROUND_DEFAULT: rgb(245, 247, 232);
$COLOR_FOREGROUND_ACCENT_1: #e9c46a;
$COLOR_FOREGROUND_ACCENT_2: #f4a261;
$COLOR_FOREGROUND_ACCENT_3: #e76f51;

$COLOR_BACKGROUND_DEFAULT: #0d332f;
$COLOR_BACKGROUND_ACCENT_1: #2a9d8f;
$COLOR_BACKGROUND_ACCENT_2: #227e73;
$COLOR_BACKGROUND_ACCENT_3: #1a5e56;
$COLOR_BACKDROP: #0c2925cb;

$COLOR_LINK: #e6c65f;
$COLOR_LINK_ACTIVE: #c75f45;
$COLOR_LINK_HOVER: #c4a950;

$SHADOW_DEFAULT: 1px 1px 5px 5px rgba(0, 0, 0, 0.25);
$SHADOW_FAINT: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
$SHADOW_STRONG: 6px 6px 16px 0px rgba(0, 0, 0, 0.75);
