/** 
 * IMPORTS 
 */
@use 'colors.scss' as *;

/**
 * Fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

// Font Variables
$roboto: "Roboto", serif;
$assistant: "Assistant", sans-serif;

/**
 * BASIC FORMATTING
 */
.vtta {
  /* 
   * GENERIC STYLES
   */
  font-family: $roboto;
  font-weight: normal;
  font-size: 0.8rem;
  color: $COLOR_FOREGROUND_DEFAULT;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: auto;
    margin-block-end: auto;
  }

  h1,
  h2,
  h3 {
    font-weight: 900;
    font-family: $assistant;
    color: $COLOR_FOREGROUND_ACCENT_1;
  }

  h4,
  h5,
  h6 {
    font-weight: 700;
    font-family: $assistant;
    color: $COLOR_FOREGROUND_ACCENT_1;
  }

  a {
    color: $COLOR_LINK;
  }
  a:hover {
    color: $COLOR_LINK_HOVER;
  }
  a:active {
    color: $COLOR_LINK_ACTIVE;
  }

  button {
    max-width: 30%;
    background: $COLOR_BACKGROUND_ACCENT_2;
    border: none;
    color: $COLOR_FOREGROUND_DEFAULT;
    box-shadow: $SHADOW_FAINT;
  }

  button:hover {
    background-color: $COLOR_BACKGROUND_DEFAULT;
    color: $COLOR_FOREGROUND_ACCENT_1;
  }
  button:disabled, button:hover:disabled {
    background-color: #10443e;
    color: #737372;
  }

  button.active {
    position: relative;
    top: 1px;
    box-shadow: $SHADOW_FAINT;
  }

  input,
  select,
  textarea {
    border: none;
    background-color: $COLOR_FOREGROUND_DEFAULT;
    color: $COLOR_BACKGROUND_DEFAULT;
  }

  input:read-only {
    background-color: $COLOR_BACKGROUND_ACCENT_1;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(131, 131, 131);
    opacity: 1; /* Firefox */
  }

  input[type="range"] {
    background-color: transparent;
  }

  input:active,
  input:focus,
  select:focus,
  textarea:focus {
    box-shadow: none;
    // background-color: $COLOR_FOREGROUND_ACCENT_1;
  }

  /**
   * Application generic stylings
   */
  header.window-header {
    color: $COLOR_FOREGROUND_ACCENT_1;
    background-color: $COLOR_BACKGROUND_ACCENT_3;

    line-height: 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    .header-button {
      i.fas,
      i.fa {
        margin-right: 0.25rem;
      }
    }
  }

  section.window-content {
    background-image: none;
    color: $COLOR_FOREGROUND_DEFAULT !important;
    background-color: $COLOR_BACKGROUND_DEFAULT !important;
    padding: 0px !important;
  }

  .small {
    transform: scale(0.8);
  }

  /**
   * Button area 
   */
  .buttons {
    background: $COLOR_BACKGROUND_ACCENT_3;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    button {
      margin-right: 0.5rem;
    }

    button:last-of-type {
      margin-right: 0;
    }

    .seperator {
      width: 1px;
      height: 100%;
      border-right: 4px solid $COLOR_BACKGROUND_ACCENT_2;
      margin-right: 0.5rem;
    }
  }

  /**
   * Modal
   */
  .vtta-modal {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $COLOR_BACKDROP;
    z-index: 400;

    .container {
      background-color: $COLOR_BACKGROUND_DEFAULT;
      position: absolute;
      z-index: 400;
      width: 400px;

      top: 50%;
      left: 50%;
      margin: -200px 0 0 -200px;
      box-shadow: $SHADOW_STRONG;

      border-radius: 3px;

      .title {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        display: block;
        font-weight: bold;
        font-size: 1.2rem;
        color: $COLOR_FOREGROUND_ACCENT_1;
        background-color: $COLOR_BACKGROUND_ACCENT_3;

        padding: 0.5rem;
      }

      section.window-content {
        padding: 0.5rem !important;
      }

      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        button {
          margin-right: 0.5rem;
        }

        button:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

/** Basic formatting **/
div.app.vtta {

  section.introduction {
    background-color: rgb(253, 253, 168);
    padding: 5px;
  }

  section {
    padding: 1rem;
    
    span.header {
      font-size: 1rem;
      font-weight: bold;
      display: block;
      color: $COLOR_FOREGROUND_ACCENT_1;
    }
  
    .hint {
      color: $COLOR_FOREGROUND_ACCENT_2;
    }
  
    .field {
      display: flex;
      flex-direction: column;
  
      .hint {
        font-size: 0.9rem;
        font-style: italic;
        color: gray;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: thin solid black;
      }
  
      .hint:last-of-type {
        border-bottom: none;
        padding-bottom: auto;
        margin-bottom: auto;
      }
  
      .label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
        span {
          display: block;
          flex-shrink: 1;
          flex-grow: 0;
          flex-basis: 50%;
          padding-right: 1rem;
        
          font-weight: bold;
        }
  
        input,select {
          height: auto;
          width: auto;
          display: block;
          flex-grow: 1;
        }
  
        input[type="text"], input[type="number"], select {
          height: 28px;
        }
        input[type="checkbox"] {
          max-width: 14px;
        }
      }
    }
  }
}



