/** 
 * IMPORTS 
 */
@use 'colors.scss' as *;

/** Add the VTTA Logo to the Settings button in the module configuration */
#config-tabs
  > div.tab.active
  > div
  > div
  > button[data-key="vtta-core.settings"]
  > label {
  background-image: url(../img/vtta.io-s-128x128.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 20px;
}

#config-tabs
  > div.tab.active
  > div
  > div
  > button[data-key="vtta-core.bug-report"] {
    background-color: #9a0000;
    color: white;
}

div.app.vtta.settings div.buttons {
  position: absolute;
  top: 800px;
}
