/** 
 * IMPORTS 
 */
/**
 * Fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
/**
 * Colors
 */
/**
 * BASIC FORMATTING
 */
.vtta {
  font-family: "Roboto", serif;
  font-weight: normal;
  font-size: 0.8rem;
}
.vtta h1,
.vtta h2,
.vtta h3,
.vtta h4,
.vtta h5,
.vtta h6 {
  -webkit-margin-before: auto;
          margin-block-start: auto;
  -webkit-margin-after: auto;
          margin-block-end: auto;
}
.vtta h1,
.vtta h2,
.vtta h3 {
  font-weight: 900;
  font-family: "Assistant", sans-serif;
  color: #e9c46a;
}
.vtta h4,
.vtta h5,
.vtta h6 {
  font-weight: 700;
  font-family: "Assistant", sans-serif;
  color: #e9c46a;
}
.vtta a {
  color: #e6c65f;
}
.vtta a:hover {
  color: #c4a950;
}
.vtta a:active {
  color: #c75f45;
}

.app.window-app.vtta header.window-header {
  color: #e9c46a;
  background-color: #1a5e56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.app.window-app.vtta header.window-header .header-button i.fas,
.app.window-app.vtta header.window-header .header-button i.fa {
  margin-right: 0.25rem;
}
.app.window-app.vtta section.window-content {
  background-image: none;
  color: #f5f7e8;
  background-color: #0d332f;
}
.app.window-app.vtta .ui .small {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.app.window-app.vtta .ui .buttons {
  margin-top: 1rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.app.window-app.vtta .ui .buttons button {
  margin-right: 0.5rem;
}
.app.window-app.vtta .ui .buttons button:last-of-type {
  margin-right: 0;
}
.app.window-app.vtta .ui button {
  max-width: 20%;
  background-color: #0d332f;
  border: none;
  color: #f5f7e8;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.app.window-app.vtta .ui button:hover {
  background-color: #0d332f;
  color: #e9c46a;
}
.app.window-app.vtta .ui button.active {
  position: relative;
  top: 1px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.app.window-app.vtta .ui input[type=text],
.app.window-app.vtta .ui input[type=number],
.app.window-app.vtta .ui select {
  border: none;
  background-color: #f5f7e8;
  color: #0d332f;
}
.app.window-app.vtta .ui input[type=text]:active,
.app.window-app.vtta .ui input[type=number]:active,
.app.window-app.vtta .ui select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f4a261;
}
.app.window-app.vtta .ui .modal {
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c2925cb;
  z-index: 400;
}
.app.window-app.vtta .ui .modal .container {
  position: absolute;
  z-index: 400;
  width: 400px;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  -webkit-box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  padding-bottom: 0.5rem;
}
.app.window-app.vtta .ui .modal .container .title {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  color: #e9c46a;
  background-color: #1a5e56;
  padding: 0.5rem;
}
.app.window-app.vtta .ui .modal .container .content {
  padding: 0.5rem;
}
.app.window-app.vtta .ui .modal .container .buttons {
  margin-top: 1rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.app.window-app.vtta .ui .modal .container .buttons button {
  margin-right: 0.5rem;
}
.app.window-app.vtta .ui .modal .container .buttons button:last-of-type {
  margin-right: 0;
}
/*# sourceMappingURL=styles.css.map */